body{
	padding-top: 5% ; 
}
.scritta {
color: #387044 ; 	
}
.navbar-brand{
	color:black;
}

img.logo {
	height: 50px ; 
	width:  50px ; 
}
.container-fluid
{
	width: 100% ; 
	height: 80% ; 
}
.page-content-wrapper{
	padding-left: 0 ; 
}