@charset "ISO-8859-1";

 
 /*   body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #c0c0c0!important;
    }*/

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: auto;
    background-color: #353b48;
    border-radius: 30px;
    padding: 2%;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 20%;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 30% ;
    caret-color:#ffffff;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #c0c0c0;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }