<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MicroKSiw2019_2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signUpServlet</servlet-name>
    <servlet-class>servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUpServlet</servlet-name>
    <url-pattern>/signUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>servlet.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteSong</servlet-name>
    <servlet-class>servlet.DeleteSong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteSong</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>aggiungiArtista</servlet-name>
    <servlet-class>servlet.AggiungiArtista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aggiungiArtista</servlet-name>
    <url-pattern>/aggiungiArtista</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>aggiungiEvento</servlet-name>
    <servlet-class>servlet.AggiungiEvento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aggiungiEvento</servlet-name>
    <url-pattern>/aggiungiEvento</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>aggiungiCanzone</servlet-name>
    <servlet-class>servlet.AggiungiCanzone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aggiungiCanzone</servlet-name>
    <url-pattern>/aggiungiCanzone</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Prodotti</servlet-name>
    <servlet-class>servlet.Prodotti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prodotti</servlet-name>
    <url-pattern>/prodotti</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>playlist</servlet-name>
    <servlet-class>servlet.Playlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>playlist</servlet-name>
    <url-pattern>/playlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modificaArtista</servlet-name>
    <servlet-class>servlet.ModificaArtista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modificaArtista</servlet-name>
    <url-pattern>/modificaArtista</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>modificaCanzone</servlet-name>
    <servlet-class>servlet.ModificaCanzone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modificaCanzone</servlet-name>
    <url-pattern>/modificaCanzone</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/404.html</location>
  </error-page>
</web-app>